<div class="overlay animated fadeIn">
  <div class="loader">
    <div class="cssload-triangles">
      <div class="cssload-tri cssload-invert"></div>
      <div class="cssload-tri cssload-invert"></div>
      <div class="cssload-tri"></div>
      <div class="cssload-tri cssload-invert"></div>
      <div class="cssload-tri cssload-invert"></div>
      <div class="cssload-tri"></div>
      <div class="cssload-tri cssload-invert"></div>
      <div class="cssload-tri"></div>
      <div class="cssload-tri cssload-invert"></div>
    </div>
  </div>
</div>
