.categories {
  padding-left: 322px;
}

.footer {
  background: $vimeo-lightgray;
  border-top: 1px solid $vimeo-gray;
  color: $vimeo-darkgray;
  height: 40px;
  line-height: 4rem;
  text-align: right;
}
