//Fonts
//----------------------------------

@font-face {
  font-family: 'Avenir Next Lt Pro';
  src: url("../../assets/fonts/avenirnextltpro/AvenirNextLTPro-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'Avenir Next Lt Pro';
  src: url("../../assets/fonts/avenirnextltpro/AvenirNextLTPro-Demi.woff") format("woff");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'Avenir Next Lt Pro';
  src: url("../../assets/fonts/avenirnextltpro/AvenirNextLTPro-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: 'Avenir Next Lt Pro Condensed';
  src: url("../../assets/fonts/avenirnextltpro/AvenirNextLTPro-Cn.woff") format("woff");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'Avenir Next Lt Pro Condensed';
  src: url("../../assets/fonts/avenirnextltpro/AvenirNextLTPro-BoldCn.woff") format("woff");
  font-weight: 700;
  font-style: normal; }
