//Colors
//---------------------------

$vimeo-white:       #FFFFFF;
$vimeo-lightgray:   #EEEEEE;
$vimeo-gray:        #CCCCCC;
$vimeo-darkgray:    #777777;

//Fonts
//---------------------------

$avenir:            'Avenir Next Lt Pro', sans-serif;
